::ng-deep .mat-tab-header {
    border: 0;
    margin-bottom: 20px;
}

::ng-deep .mat-tab-group.mat-primary .mat-ink-bar,.mat-tab-nav-bar.mat-primary .mat-ink-bar {
    background-color: rgba(47, 102, 218, 0.35);
}

::ng-deep .mat-tab-labels {
    background: rgba(47, 102, 218, 0.35);
    border-radius: 0 0 100% 100%;
    margin-bottom: 10px;
}

::ng-deep .mat-tab-label {
    border-radius: 50px 50px 0 0;
    opacity: 100%;
    transition: 1s;
    width: 20%;
    background: white;
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 22px;

}

h1 {
    text-align: center;
    font-size: 50px;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
}
